:root {
  --primary-color: #023047; /* prussian blue */
  --secondary-color: #219EBC; /* blue green */
  --accent1-color: #FB8500; /* ut orange */
  --accent2-color: #FFB703; /* selective yellow */
  --accent2-color-hover: #D26500; /* slightly darker orange */
  --heading-font: "Raleway", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--primary-color); 
  font-size: 1rem;
  line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--primary-color);
}

header, main, footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}

header {
  display: grid;
  grid-template-columns: 33.33% auto;
  color: var(--accent2-color);
  padding: 0px;
}

header .logo {
  display: block;
  width: 260px;
  height: auto;
  margin: 0 30px ;
  padding: 5px;
}

header nav {
  display: flex;
  padding: 0 25px;
  margin: 0;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
}

header nav a {
  padding: 0 25px;
  font-style: var(--heading-font);
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  min-width: 25%;
}

header nav a:hover {
  color: var(--accent2-color-hover);
}

p {
  padding: 0;
  margin: 0;
}

.hero article img {
  float: right;
  width: 150px;
  margin: 12px 50px 12px 25px;
}

.hero h2 {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em; 
  padding: 0 50px;
}

.hero article p {
  color: var(--primary-color);
  font-size: .9em;
  font-weight: 400;
  line-height: 1.5em; 
  padding: 0 50px;
}

section {
  padding: 0;
}

section h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.intro {
  margin-top: -50px;
  padding: 0 50px 50px 50px;
  text-align: center;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 50px;
  text-align: center;
  background-color: #f0f8ff;
}

.grid-item img {
  width: 180px;
  height: auto;
  margin-bottom: 5px;
}

.newsletter-cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 50px 50px 75px 50px;
  background-color: #fff;
  align-items: center;
}

.newsletter h2 {
  margin-bottom: 10px;
}

.newsletter p {
  margin-bottom: 15px;
}

.newsletter form {
  display: flex;
  gap: 10px;
}

.newsletter input[type="email"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
}

.newsletter button {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: var(--accent2-color-hover);
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 50px;
  text-align: center;
  opacity: 0.75;
  background-color: var(--accent2-color);
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.75em;
  color: var(--primary-color)
}

article {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  margin: 0;
  opacity: 0.85;
  background-color: var(--accent1-color); /* Keep bright orange */
  color: var(--primary-color);
  font-size: 1.25em;
}

#history {
  padding: 25px 50px 50px 50px;
  text-align: center;
}
/*
#history h2 {
  font-size: 2em;
  margin-bottom: 1.5rem;
}
*/

.history-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: normal;
  gap: 50px;
  text-align: left;
}

.history-grid .text-block {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 1.6;
}

.history-grid .image-block img {
  max-width: 200px;
  height: auto;
  display: block;
  border-radius: 8px;
}

#adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 25px 50px 50px 50px;
  background-color: #f0f8ff;
  justify-items: center;
  text-align: center;
}

#adventure h2 {
  grid-column: span 5;
}

#adventure figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; 
  margin: 0;
}

#adventure img {
  width: 100%;
  max-width: 150px;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  border-radius: 6px;
}

#adventure figcaption {
  margin-top: 10px;
  color: var(--primary-color);
  font-size: .8em;
  font-weight: 400;
}

#contact-us {

}

#contact-us h1 {
  text-align: center;
  padding: 0 50px;
  text-align: center;
  opacity: .75;
  background-color: var(--accent2-color);
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.75em;
  color: var(--primary-color)
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 0;
  padding: 0;
}

/* Contact Info */
.contact-info {
  width: 33.33%;
  padding: 25px 50px 0 50px;
  background-color: #f0f8ff;
}

.contact-info p {
  margin-bottom: 10px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent2-color-hover);
}

.map iframe {
  width: 334px;
  height: 880px;
  border: none;
  margin: 10px -50px 0 -50px;
  padding: 0;
}

.contact-main {
  width: 66.67%;
  padding: 25px 50px 50px 50px;
}

/* Team Section */
.employee-profiles {
  margin-bottom: 50px;
}

.employee-grid {
  display: flex;
  justify-content: space-around;
  gap: 5%;
  flex-wrap: wrap;
  text-align: center;
}

.employee-grid figure {
  max-width: 30%;
}

figcaption {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2em;
}

figcaption span {
  display: block;
  font-size: .8em;
  font-style: italic;
  font-weight: normal;
}

.employee-grid img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--accent2-color);
}

/* Contact Form */
.contact-form {
  margin-bottom: 25px;
}

.contact-form h2 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: var(--primary-color);
  width: 100%;
}

.contact-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-form label {
  font-weight: 600;
}

fieldset {
  padding: 0;
}

fieldset legend {
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-subject label {
  font-weight: normal;
}

label.contact-subscribe {
  font-weight: normal;
}

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
  margin-right: 8px;
  margin-left: 25px;
}

.contact-form button {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.contact-form button:hover {
  background-color: var(--accent2-color-hover);
}

/* ===== TRIPS PAGE ===== */
#trips-hero {
  background-color: #f0f8ff;
}

#trips-hero h1 {
  text-align: center;
  padding: 0 50px;
  text-align: center;
  opacity: .75;
  background-color: var(--accent2-color);
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.75em;
  color: var(--primary-color)
}

.cta-contact {
  text-align: right;
  margin: 50px 50px 0 50px;
}

.contact-button {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  min-width: 250px;
  display: inline-block;
  text-align:  center;
}

.contact-button:hover {
  color: inherit;
  background-color: var(--accent2-color-hover);
}

#trip-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px;
  background-color: #f0f8ff;
}

.trip-card {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  margin-top: -50px;
}

#trip-details .trip-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.trip-card img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  align-self: flex-start;
}

.trip-card img:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.trip-card h2 {
}

.trip-card p {
}

/* Trip Table */
#trip-table {
  padding: 50px 50px 75px 50px;
  background-color: #fff;
}

#trip-table h2 {
  text-align: center;
}

#trip-table table {
  width: 100%;
  border-collapse: collapse;
}

#trip-table th,
#trip-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

#trip-table th {
  background-color: var(--accent2-color);
  color: var(--primary-color);
  font-weight: 700;
}

#trip-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

footer {
  background-color: var(--accent2-color);
  padding: 15px 50px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-content p {
  text-align: center;
  font-size: 0.9em;
  color: var(--primary-color);
  margin: 0 auto;
  grid-column: 1 / 2; 
}

.footer-content p span {
  margin: 0 10px;
  font-size: 1.5em;
}

.footer-content a:hover {
  color: var(--secondary-color);
}

.socialmedia {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  grid-column: 2 / 3;
}

.socialmedia a img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(16%) sepia(40%) saturate(350%) hue-rotate(170deg);
  transition: filter 0.3s ease-in-out;
}

.socialmedia a:hover img {
  filter: brightness(0) saturate(100%) invert(63%) sepia(19%) saturate(2197%) hue-rotate(151deg) brightness(95%) contrast(89%);
}
